In [42]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

In [29]:
pwd

'/home/ranger/Documents/BA_Project'

In [52]:
data = pd.read_csv('gathered_data.csv')

In [34]:
data.columns

Index(['Unnamed: 0', 'DBA', 'fetched_restaurant', 'similarity_index',
       'sentiment_score', 'Accepts Credit Cards', 'Accepts Bitcoin',
       'Accepts Insurance', 'Alcohol', 'Appointment Only', 'Caters',
       'Coat Check', 'Delivers', 'Dogs AllowedHair Types Specialized In',
       'Happy Hour', 'TV', 'Outdoor Seating', 'Parking', 'Smoking Allowed',
       'Take-out', 'Takes Reservations', 'Waiter Service',
       'Wheelchair Accessible', 'Wi-Fi', 'Opened 24hrs',
       'Gender Neutral BathroomsAmbience', 'Attire', 'Best Nights',
       'Good For Dancing', 'Good For Groups', 'Good For Kids',
       'Good For Meals Served', 'Music', 'Noise Level', 'Price Range',
       'price_range', 'health_score', 'overall_rating', 'overall_reviews',
       'violation_score'],
      dtype='object')

In [47]:
data['price_range'].unique()

array(['$11-30', 'Inexpensive', 'Moderate', 'Above $61', '$31-60', nan,
       'Pricey', 'Under $10', 'Ultra High-End'], dtype=object)

In [46]:
data['price_range'].isnull().mean()

0.08968609865470852

In [53]:
data.dropna(subset = ['sentiment_score', 'violation_score'], inplace = True)

In [54]:
data.shape

(222, 40)

In [58]:
X = data[['sentiment_score', 'violation_score']]
Y = data[['overall_rating']]
X = sm.add_constant(X)

In [59]:
model = sm.OLS(Y, X).fit()

In [60]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        violation_score   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.004
Method:                 Least Squares   F-statistic:                   0.04113
Date:                Thu, 22 Nov 2018   Prob (F-statistic):              0.839
Time:                        13:11:04   Log-Likelihood:                -755.63
No. Observations:                 222   AIC:                             1515.
Df Residuals:                     220   BIC:                             1522.
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const              16.5842      1.519     10.920      0.000      13.591      19.577
sentiment_score    -0.4746      2.340     -0.203      0.839      -5.087       4.137
==============================================================================
Omnibus:                       46.896   Durbin-Watson:                   2.116
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               87.883
Skew:                           1.065   Prob(JB):                     8.25e-20
Kurtosis:                       5.227   Cond. No.                         6.63
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [16]:
data.shape

(221, 40)

In [48]:
data.head()

,Unnamed: 0,DBA,fetched_restaurant,similarity_index,sentiment_score,Accepts Credit Cards,Accepts Bitcoin,Accepts Insurance,Alcohol,Appointment Only,...,Good For Kids,Good For Meals Served,Music,Noise Level,Price Range,price_range,health_score,overall_rating,overall_reviews,violation_score
0,40362098,HARRIET'S KITCHEN,Harriet’s Kitchen,94.0,0.393619,NaN,NaN,NaN,Beer & Wine Only,NaN,...,NaN,NaN,NaN,NaN,NaN,$11-30,A,3.0,138.0,15.600000
1,40364389,OLD TOWN BAR & RESTAURANT,Old Town Bar & Restaurant,100.0,0.608559,NaN,NaN,NaN,Full Bar,NaN,...,NaN,NaN,NaN,NaN,NaN,$11-30,A,3.5,361.0,30.500000
2,40365871,NEARY'S PUB,Neary’s,67.0,0.754397,NaN,NaN,NaN,Full Bar,NaN,...,NaN,NaN,NaN,NaN,NaN,$11-30,A,4.0,71.0,12.000000
3,40368271,CHERRY TAVERN,Cherry Tavern,100.0,0.517131,NaN,NaN,NaN,Full Bar,NaN,...,NaN,NaN,NaN,NaN,NaN,Inexpensive,A,4.0,112.0,24.333333
4,40369810,PETE'S TAVERN,Pete’s Tavern,92.0,0.667795,NaN,NaN,NaN,Full Bar,NaN,...,NaN,NaN,NaN,NaN,NaN,$11-30,A,3.5,544.0,6.666667