# Data Preprocessing
**by Qitian Ma**

In [1]:
import pandas as pd
import os

In [2]:
# Check current working directory. Change it if necessary.
os.getcwd()

'/home/ranger/Documents/BA_Project/Code'

In [3]:
# Read in data.
gathered_data = pd.read_csv('../Data/gathered_data.csv', index_col = 'Unnamed: 0')
gathered_data.head()

,DBA,fetched_restaurant,similarity_index,sentiment_score,accepts credit cards,accepts bitcoin,accepts insurance,accepts apple pay,alcohol,by appointment only,...,music,noise level,price range,has pool table,price_range,health_score,overall_rating,overall_reviews,restaurant_link,violation_score
40359480,1 EAST 66TH STREET KITCHEN,Tacuba Hell’s Kitchen,51.0,0.823258,Yes,No,NaN,No,Full Bar,NaN,...,NaN,Average,NaN,NaN,$11-30,A,4.0,506.0,https://www.yelp.com/biz/tacuba-hells-kitchen-...,6.0
40362098,HARRIET'S KITCHEN,Harriet’s Kitchen,94.0,0.393619,Yes,No,NaN,No,Beer & Wine Only,NaN,...,NaN,Average,NaN,NaN,$11-30,A,3.0,138.0,https://www.yelp.com/biz/harriets-kitchen-new-...,15.6
40364362,21 CLUB,21 Club,100.0,0.715745,Yes,No,NaN,No,Full Bar,NaN,...,NaN,Average,NaN,NaN,Above $61,A,3.5,559.0,https://www.yelp.com/biz/21-club-new-york?start=0,12.0
40364389,OLD TOWN BAR & RESTAURANT,Old Town Bar & Restaurant,100.0,0.608559,Yes,NaN,NaN,No,Full Bar,NaN,...,NaN,Average,NaN,No,$11-30,A,3.5,360.0,https://www.yelp.com/biz/old-town-bar-and-rest...,30.5
40364443,CRIMINAL COURT BLDG CAFETERIA,New York Public Library,38.0,0.679283,NaN,NaN,NaN,NaN,NaN,No,...,NaN,NaN,NaN,NaN,NaN,A,4.5,821.0,https://www.yelp.com/biz/new-york-public-libra...,13.8

In [4]:
# Drop observations with similarity_index < 60. This is because fetched restaurants from yelp are not necessarily the one we wanted.
gathered_data = gathered_data[ (gathered_data['similarity_index'] >= 60) ]
gathered_data.drop(['fetched_restaurant', 'similarity_index'], axis = 1, inplace = True)
gathered_data.shape

(760, 44)

In [5]:
gathered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 40362098 to 50084744
Data columns (total 44 columns):
DBA                          760 non-null object
sentiment_score              756 non-null float64
accepts credit cards         730 non-null object
accepts bitcoin              158 non-null object
accepts insurance            0 non-null object
accepts apple pay            539 non-null object
alcohol                      626 non-null object
by appointment only          23 non-null object
caters                       483 non-null object
coat check                   132 non-null object
delivery                     502 non-null object
dogs allowed                 138 non-null object
hair types specialized in    1 non-null object
happy hour                   254 non-null object
has tv                       632 non-null object
outdoor seating              652 non-null object
parking                      542 non-null object
bike parking                 662 non-null object
smoking allowed              0 non-null float64
take-out                     539 non-null object
takes reservations           627 non-null object
drive-thru                   49 non-null object
waiter service               235 non-null object
wheelchair accessible        182 non-null object
wi-fi                        649 non-null object
opened 24hrs                 0 non-null float64
gender neutral restrooms     294 non-null object
ambience                     543 non-null object
attire                       348 non-null object
best nights                  212 non-null object
good for dancing             215 non-null object
good for groups              636 non-null object
good for kids                551 non-null object
good for                     420 non-null object
music                        107 non-null object
noise level                  615 non-null object
price range                  0 non-null float64
has pool table               258 non-null object
price_range                  699 non-null object
health_score                 670 non-null object
overall_rating               756 non-null float64
overall_reviews              759 non-null float64
restaurant_link              760 non-null object
violation_score              728 non-null float64
dtypes: float64(7), object(37)
memory usage: 267.2+ KB

In [6]:
# Drop features with null observation < 400.
gathered_data = gathered_data[ gathered_data.columns[ gathered_data.notnull().sum() >= 400 ] ]
gathered_data.head()

,DBA,sentiment_score,accepts credit cards,accepts apple pay,alcohol,caters,delivery,has tv,outdoor seating,parking,...,good for groups,good for kids,good for,noise level,price_range,health_score,overall_rating,overall_reviews,restaurant_link,violation_score
40362098,HARRIET'S KITCHEN,0.393619,Yes,No,Beer & Wine Only,No,Yes,No,No,Street,...,No,Yes,"Lunch, Dinner",Average,$11-30,A,3.0,138.0,https://www.yelp.com/biz/harriets-kitchen-new-...,15.60
40364362,21 CLUB,0.715745,Yes,No,Full Bar,No,No,No,No,Garage,...,Yes,No,Dinner,Average,Above $61,A,3.5,559.0,https://www.yelp.com/biz/21-club-new-york?start=0,12.00
40364389,OLD TOWN BAR & RESTAURANT,0.608559,Yes,No,Full Bar,No,No,Yes,No,Street,...,Yes,No,Dinner,Average,$11-30,A,3.5,360.0,https://www.yelp.com/biz/old-town-bar-and-rest...,30.50
40365166,CORNER BISTRO,0.648874,No,No,Full Bar,No,Yes,Yes,No,Street,...,Yes,No,Dinner,Average,Under $10,A,3.5,1456.0,https://www.yelp.com/biz/corner-bistro-new-yor...,19.75
40365871,NEARY'S PUB,0.754397,Yes,NaN,Full Bar,No,Yes,No,No,Street,...,Yes,No,NaN,Average,$11-30,A,4.0,71.0,https://www.yelp.com/biz/nearys-new-york?start=0,12.00

In [7]:
# Choose features that are based on facts.
gathered_data = pd.concat( [gathered_data.loc[:, 'DBA': 'wi-fi' ], gathered_data[ ['overall_rating', 'violation_score', 'price_range', 'noise level'] ] ], axis = 1)
gathered_data.head()

,DBA,sentiment_score,accepts credit cards,accepts apple pay,alcohol,caters,delivery,has tv,outdoor seating,parking,bike parking,take-out,takes reservations,wi-fi,overall_rating,violation_score,price_range,noise level
40362098,HARRIET'S KITCHEN,0.393619,Yes,No,Beer & Wine Only,No,Yes,No,No,Street,Yes,Yes,No,No,3.0,15.60,$11-30,Average
40364362,21 CLUB,0.715745,Yes,No,Full Bar,No,No,No,No,Garage,No,No,Yes,Free,3.5,12.00,Above $61,Average
40364389,OLD TOWN BAR & RESTAURANT,0.608559,Yes,No,Full Bar,No,No,Yes,No,Street,Yes,No,No,No,3.5,30.50,$11-30,Average
40365166,CORNER BISTRO,0.648874,No,No,Full Bar,No,Yes,Yes,No,Street,Yes,Yes,No,No,3.5,19.75,Under $10,Average
40365871,NEARY'S PUB,0.754397,Yes,NaN,Full Bar,No,Yes,No,No,Street,No,Yes,Yes,Free,4.0,12.00,$11-30,Average

In [8]:
# Check possible values for these features.
for col in gathered_data.loc[:, 'accepts credit cards': 'wi-fi']:
    print('*\t', col, '\n', gathered_data[col].value_counts(), '\n', sep = '')

*	accepts credit cards
Yes    700
No      30
Name: accepts credit cards, dtype: int64

*	accepts apple pay
No     461
Yes     78
Name: accepts apple pay, dtype: int64

*	alcohol
Full Bar            414
No                  121
Beer & Wine Only     91
Name: alcohol, dtype: int64

*	caters
Yes    268
No     215
Name: caters, dtype: int64

*	delivery
Yes    295
No     207
Name: delivery, dtype: int64

*	has tv
No     324
Yes    308
Name: has tv, dtype: int64

*	outdoor seating
No     463
Yes    189
Name: outdoor seating, dtype: int64

*	parking
Street                       474
Garage, Street                38
Garage                        15
Valet                          4
Street, Private Lot            2
Valet, Street                  2
Private Lot                    2
Garage, Street, Validated      2
Validated                      1
Street, Validated              1
Valet, Private Lot             1
Name: parking, dtype: int64

*	bike parking
Yes    433
No     229
Name: bike parking, dtype: int64

*	take-out
Yes    461
No      78
Name: take-out, dtype: int64

*	takes reservations
No     338
Yes    289
Name: takes reservations, dtype: int64

*	wi-fi
Free    357
No      287
Paid      5
Name: wi-fi, dtype: int64

In [9]:
# Combine values.
gathered_data.loc[gathered_data['parking'].notna(), 'parking'] = 'Yes'
gathered_data.loc[gathered_data['wi-fi'].isin(['Paid', 'Free']), 'wi-fi'] = 'Yes'
gathered_data.loc[gathered_data['price_range'].isin(['Under $10', 'Inexpensive']), 'price_range'] = 'Inexpensive'
gathered_data.loc[gathered_data['price_range'].isin(['$11-30', 'Moderate']), 'price_range'] = 'Moderate'
gathered_data.loc[gathered_data['price_range'].isin(['$31-60', 'Pricey']), 'price_range'] = 'Pricey'

In [10]:
# Impute missings
gathered_data.loc[gathered_data['parking'].isna(), 'parking'] = 'No'
gathered_data.loc[gathered_data['wi-fi'].isna(), 'wi-fi'] = 'No'
gathered_data.loc[gathered_data['alcohol'].isna(), 'alcohol'] = 'No'
gathered_data.loc[gathered_data['delivery'].isna(), 'delivery'] = 'No'
gathered_data.loc[gathered_data['caters'].isna(), 'caters'] = 'No'
gathered_data.loc[gathered_data['has tv'].isna(), 'has tv'] = 'No'
gathered_data.loc[gathered_data['takes reservations'].isna(), 'takes reservations'] = 'No'
gathered_data.loc[gathered_data['take-out'].isna(), 'take-out'] = 'No'
gathered_data.loc[gathered_data['outdoor seating'].isna(), 'outdoor seating'] = 'No'
gathered_data.loc[gathered_data['accepts credit cards'].isna(), 'accepts credit cards'] = 'No'
gathered_data.loc[gathered_data['accepts apple pay'].isna(), 'accepts apple pay'] = 'No'
gathered_data.loc[gathered_data['bike parking'].isna(), 'bike parking'] = 'No'
gathered_data.loc[:, 'noise level'] = gathered_data.loc[:, 'noise level'].fillna('Average')

In [11]:
gathered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 40362098 to 50084744
Data columns (total 18 columns):
DBA                     760 non-null object
sentiment_score         756 non-null float64
accepts credit cards    760 non-null object
accepts apple pay       760 non-null object
alcohol                 760 non-null object
caters                  760 non-null object
delivery                760 non-null object
has tv                  760 non-null object
outdoor seating         760 non-null object
parking                 760 non-null object
bike parking            760 non-null object
take-out                760 non-null object
takes reservations      760 non-null object
wi-fi                   760 non-null object
overall_rating          756 non-null float64
violation_score         728 non-null float64
price_range             699 non-null object
noise level             760 non-null object
dtypes: float64(3), object(15)
memory usage: 112.8+ KB

In [12]:
# Drop if an entry still contains NA.
gathered_data.dropna(inplace = True)
gathered_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 673 entries, 40362098 to 50076092
Data columns (total 18 columns):
DBA                     673 non-null object
sentiment_score         673 non-null float64
accepts credit cards    673 non-null object
accepts apple pay       673 non-null object
alcohol                 673 non-null object
caters                  673 non-null object
delivery                673 non-null object
has tv                  673 non-null object
outdoor seating         673 non-null object
parking                 673 non-null object
bike parking            673 non-null object
take-out                673 non-null object
takes reservations      673 non-null object
wi-fi                   673 non-null object
overall_rating          673 non-null float64
violation_score         673 non-null float64
price_range             673 non-null object
noise level             673 non-null object
dtypes: float64(3), object(15)
memory usage: 99.9+ KB

In [13]:
# Drop outliers.
gathered_data = gathered_data[ ~gathered_data['price_range'].isin(['Ultra High-End', 'TRY21-50', 'Above $61']) ]

In [14]:
# Replace space in variable names with _, so that it is easy to manipulate in STATA.
gathered_data.columns = pd.Series(gathered_data.columns).apply(lambda name: name.replace(' ', '_'))

In [15]:
# Write out cleaned data.
gathered_data.to_csv('../Data/cleaned_data.csv')